<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <!--<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> -->
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Authorizing...</p>
            </Authorizing>
            <NotAuthorized>
                <AuthorizeView Context="authenticated">
                    <Authorized Context="authenticated">
                        <AuthorizeView Context="role">
                            <Authorized Context="role">
                                <NotAuthorized />
                            </Authorized>
                            <NotAuthorized Context="role">
                                <Forbidden />
                            </NotAuthorized>
                        </AuthorizeView>
                    </Authorized>
                    <NotAuthorized Context="authenticated">
                        <NotAuthorized />
                    </NotAuthorized>
                </AuthorizeView>
            </NotAuthorized>
        </AuthorizeRouteView>

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView>
            <NotFound />
        </LayoutView>
    </NotFound>
</Router>
