@page "/admin/role/edit"
@page "/admin/role/edit/{id:int}"
@inject IRoleService RoleService
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>@GetPageTitle()</PageTitle>

@if (isAuthenticated)
{
    <Header Value="@GetPageTitle()"/>
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12 mb-5">
                <EditForm Model="role" OnValidSubmit="onSubmit">
                    <DataAnnotationsValidator />
                    <div class="control-group mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Enter role name" @bind-value="role.RoleName">
                        <ValidationMessage For="@(() => role.RoleName)" />
                    </div>
                    <div class="control-group mb-3">
                        <input type="text" class="form-control" id="description" placeholder="Enter role description" @bind-value="role.RoleDescription">
                        <ValidationMessage For="@(() => role.RoleDescription)" />
                    </div>
                    <div>
                        <input class="btn btn-primary py-2 px-5" type="submit" value="@btnText" />
                        <button class="btn btn-info py-2 px-5" @onclick="@(() => NavigationManager.NavigateTo("/admin/role"))">Go Back </button>
                    </div>
                </EditForm>

            </div>
        </div>
    </div>
}

@code{
    [Parameter]
    public int? id { get; set; } 
    bool isAuthenticated = false;
    string btnText = string.Empty;
    private string GetPageTitle() => "Role";
    Role role = new Role { };

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsUserAuthenticated();
        btnText = id == null ? "Create Role" : "Update Role";
    }

    protected override async Task OnParametersSetAsync()
    {
        if (id != null)
        {
            role = await RoleService.GetSingleRole((int)id);
        } 
        else
        {
            role = new Role { };
        }
    }

    async Task onSubmit()
    {
        if (id != null)
        {
            await RoleService.UpdateRole(role);
        }
        else
        {
            await RoleService.CreateRole(role);
        }
    }
}