@page "/"
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject ICartService CartService
@inject NavigationManager NavigationManager

<PageTitle>Home Page</PageTitle>

<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 500px;">
            <img class="img-fluid" src="img/carousel-1.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                    <a @onclick="@(() => NavigationManager.NavigateTo("shop"))" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 500px;">
            <img class="img-fluid" src="img/carousel-2.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                    <a @onclick="@(() => NavigationManager.NavigateTo("shop"))" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>

<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        @foreach (var item in CategoryService.Categories)
       {
            <div class="col-lg-3 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right"></p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="@item.ImageURL" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">@item.Name</h5>
                </div>
            </div>
       }
    </div>
</div>
<!-- Categories End -->

<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Featured Products</span></h2>
    </div>
    
    @if (ProductService.Products.Count > 0)
    {
        <div class="row px-xl-5 pb-3">
            @foreach (var prod in ProductService.Products)
            {
                <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="@prod.Image" alt="@prod.Title">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@prod.Title</h6>
                            <div class="d-flex justify-content-center">
                                @if (prod.Price != 0)
                                {
                                    <h6>$@prod.Price</h6>
                                    <h6 class="text-muted ml-2"><del>$@prod.OriginalPrice</del></h6>
                                }
                                else
                                {
                                    <h6>$@prod.OriginalPrice</h6>
                                }
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" onclick="@(() => NavigationManager.NavigateTo("product/" + prod.Id))" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a href="" @onclick="(() => AddToCart(prod.Id))" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h5 style="text-align: center;">We currently do not have featured items</h5> 
    }
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetHomeCategories();
        await ProductService.GetHomeProducts();
    }

    private async Task AddToCart(Guid id)
    {
        var cartItem = new CartItem
        {
            ProductId = id,
        };

        await CartService.AddToCart(cartItem);
    }

}